# Base de données
DATABASE_URL="postgresql://username:password@localhost:5432/barbara_db"
DB_PASSWORD="password_for_postgres_user"

# Serveur
PORT=3001
NODE_ENV=development

# Frontend
FRONTEND_URL=http://localhost:3000
